In [1]:
#Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Loading the dataset
df = pd.read_csv("data/MALARIA_ITN_COVERAGE.csv")

In [3]:
df.head()

,GHO (CODE),GHO (DISPLAY),GHO (URL),PUBLISHSTATE (CODE),PUBLISHSTATE (DISPLAY),PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (CODE),...,COUNTRY (CODE),COUNTRY (DISPLAY),COUNTRY (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,MALARIA_ITN_COVERAGE,Population with access to an insecticide-treat...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2021,2021,NaN,AFR,...,BEN,Benin,NaN,63.97,63.96720,NaN,NaN,NaN,NaN,NaN
1,MALARIA_ITN_COVERAGE,Population with access to an insecticide-treat...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2009,2009,NaN,AFR,...,GNB,Guinea-Bissau,NaN,14.67,14.67461,NaN,NaN,NaN,NaN,NaN
2,MALARIA_ITN_COVERAGE,Population with access to an insecticide-treat...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2015,2015,NaN,AFR,...,CAF,Central African Republic,NaN,61.54,61.53668,NaN,NaN,NaN,NaN,NaN
3,MALARIA_ITN_COVERAGE,Population with access to an insecticide-treat...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2002,2002,NaN,AFR,...,MDG,Madagascar,NaN,3.34,3.34281,NaN,NaN,NaN,NaN,NaN
4,MALARIA_ITN_COVERAGE,Population with access to an insecticide-treat...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2019,2019,NaN,AFR,...,GAB,Gabon,NaN,15.57,15.56833,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (URL),COUNTRY (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
count,0.0,880.000000,880.000000,0.0,0.0,0.0,880.00000,880.000000,0.0,0.0,0.0,0.0,0.0
mean,NaN,2010.500000,2010.500000,NaN,NaN,NaN,31.08575,31.085732,NaN,NaN,NaN,NaN,NaN
std,NaN,6.347897,6.347897,NaN,NaN,NaN,25.06330,25.063324,NaN,NaN,NaN,NaN,NaN
min,NaN,2000.000000,2000.000000,NaN,NaN,NaN,2.14000,2.136610,NaN,NaN,NaN,NaN,NaN
25%,NaN,2005.000000,2005.000000,NaN,NaN,NaN,5.04750,5.047792,NaN,NaN,NaN,NaN,NaN
50%,NaN,2010.500000,2010.500000,NaN,NaN,NaN,26.16500,26.163510,NaN,NaN,NaN,NaN,NaN
75%,NaN,2016.000000,2016.000000,NaN,NaN,NaN,53.69750,53.698380,NaN,NaN,NaN,NaN,NaN
max,NaN,2021.000000,2021.000000,NaN,NaN,NaN,89.17000,89.171550,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GHO (CODE)              880 non-null    object
 1   GHO (DISPLAY)           880 non-null    object
 2   GHO (URL)               880 non-null    object
 3   PUBLISHSTATE (CODE)     880 non-null    object
 4   PUBLISHSTATE (DISPLAY)  880 non-null    object
 5   PUBLISHSTATE (URL)      0 non-null      float64
 6   YEAR (CODE)             880 non-null    int64
 7   YEAR (DISPLAY)          880 non-null    int64
 8   YEAR (URL)              0 non-null      float64
 9   REGION (CODE)           880 non-null    object
 10  REGION (DISPLAY)        880 non-null    object
 11  REGION (URL)            0 non-null      float64
 12  COUNTRY (CODE)          880 non-null    object
 13  COUNTRY (DISPLAY)       880 non-null    object
 14  COUNTRY (URL)           0 non-null      float64
 15  Display Value           880 non-null    float64
 16  Numeric                 880 non-null    float64
 17  Low                     0 non-null      float64
 18  High                    0 non-null      float64
 19  StdErr                  0 non-null      float64
 20  StdDev                  0 non-null      float64
 21  Comments                0 non-null      float64
dtypes: float64(11), int64(2), object(9)
memory usage: 151.4+ KB

In [9]:
df.columns

Index(['GHO (CODE)', 'GHO (DISPLAY)', 'GHO (URL)', 'PUBLISHSTATE (CODE)',
       'PUBLISHSTATE (DISPLAY)', 'PUBLISHSTATE (URL)', 'YEAR (CODE)',
       'YEAR (DISPLAY)', 'YEAR (URL)', 'REGION (CODE)', 'REGION (DISPLAY)',
       'REGION (URL)', 'COUNTRY (CODE)', 'COUNTRY (DISPLAY)', 'COUNTRY (URL)',
       'Display Value', 'Numeric', 'Low', 'High', 'StdErr', 'StdDev',
       'Comments'],
      dtype='object')

In [10]:
#Specify the columns that are to be dropped
columns_to_drop = ['GHO (CODE)', 'GHO (DISPLAY)', 'GHO (URL)', 'PUBLISHSTATE (CODE)', 'PUBLISHSTATE (DISPLAY)', 'PUBLISHSTATE (URL)', 'YEAR (CODE)', 'YEAR (URL)', 'REGION (CODE)', 'REGION (URL)', 'COUNTRY (CODE)', 'COUNTRY (URL)', 'Display Value', 'Low', 'High', 'StdErr', 'StdDev', 'Comments']

In [11]:
#Drop the specified columns and create a new dataframe
df = df[[col for col in df.columns if col not in columns_to_drop]]

In [14]:
df.columns

Index(['YEAR (DISPLAY)', 'REGION (DISPLAY)', 'COUNTRY (DISPLAY)', 'Numeric'], dtype='object')

In [16]:
# Create a dictionary to specify the mapping of old column names to new column names
column_mapping = {
    'YEAR (DISPLAY)': 'Year',
    'REGION (DISPLAY)': 'Region',
    'COUNTRY (DISPLAY)': 'Country',
    'Numeric': 'Population',
}

# Use the rename() function to rename the columns
df.rename(columns=column_mapping, inplace=True)

C:\Users\Rona\AppData\Local\Temp\ipykernel_14820\1087864966.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=column_mapping, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        880 non-null    int64
 1   Region      880 non-null    object
 2   Country     880 non-null    object
 3   Population  880 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 27.6+ KB

In [18]:
df.head()

   Year  Region                   Country  Population
0  2021  Africa                     Benin    63.96720
1  2009  Africa             Guinea-Bissau    14.67461
2  2015  Africa  Central African Republic    61.53668
3  2002  Africa                Madagascar     3.34281
4  2019  Africa                     Gabon    15.56833

In [20]:
# Convert 'Year' to datetime
df['Year'] = pd.to_datetime(df['Year'], format='%Y')
df['Year'] = df['Year'].dt.year

C:\Users\Rona\AppData\Local\Temp\ipykernel_14820\2991774388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.to_datetime(df['Year'], format='%Y')
C:\Users\Rona\AppData\Local\Temp\ipykernel_14820\2991774388.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].dt.year

In [21]:
# Use astype to convert the "Cases" column to an integer
df['Population'] = df['Population'].astype(int)

C:\Users\Rona\AppData\Local\Temp\ipykernel_14820\2572990452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Population'] = df['Population'].astype(int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        880 non-null    int64
 1   Region      880 non-null    object
 2   Country     880 non-null    object
 3   Population  880 non-null    int32
dtypes: int32(1), int64(1), object(2)
memory usage: 24.2+ KB

In [23]:
# Create a itn_coverage table with the selected columns
itn_coverage_table = df[['Year', 'Region', 'Country', 'Population']].copy()
# Add a new column 'itn_id' and set it as the index
itn_coverage_table['itn_id'] = range(1, len(itn_coverage_table) + 1)
# Reorder the columns to have 'case_id' as the first column
itn_coverage_table = itn_coverage_table[['itn_id', 'Year', 'Region', 'Country', 'Population']]

In [24]:
itn_coverage_table

     itn_id  Year  Region                   Country  Population
0         1  2021  Africa                     Benin          63
1         2  2009  Africa             Guinea-Bissau          14
2         3  2015  Africa  Central African Republic          61
3         4  2002  Africa                Madagascar           3
4         5  2019  Africa                     Gabon          15
..      ...   ...     ...                       ...         ...
875     876  2016  Africa                    Gambia          28
876     877  2001  Africa                     Niger           3
877     878  2007  Africa             Guinea-Bissau          22
878     879  2006  Africa             Cote d'Ivoire           3
879     880  2015  Africa              Burkina Faso          51

[880 rows x 5 columns]